<table width="600">
    <tr>
        <td>
            <img src="ny.nevrologia.info/{{ asset('bundles/app/images/mail/pattern-header-2.png') }}">
            <img src="ny.nevrologia.info/{{ asset('bundles/app/images/logo3.png') }}" style="float: right">
            <h2>Уважаемый {{ fio }}</h2>
            <p>
                {{ txt }}
            </p>
            <br />
            <a href="http://ny.nevrologia.info"><img src="http://ny.nevrologia.info{{ asset('bundles/app/images/mail/btn-2.png') }}"></a>
            <br />
            <br />
            <img src="ny.nevrologia.info/{{ asset('bundles/app/images/mail/pattern-footer-2.png') }}">
        </td>
    </tr>
</table>